<!DOCTYPE html>
<html lang="en" xxx-manifest="/manifest.mf">
  <head>
    <title>Nws</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/test.css">
    <script type="text/javascript" src="http://use.typekit.com/fxg5tgf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="aside">
      {{# each articles }}
        <div class="article-item">
          <a href="/test?url={{ url }}&source={{ ../source }}">
            {{# if image }}
              <img src="{{ image }}">
            {{/if}}
            {{ title }}
          </a>
        </div>
      {{/each}}
    </div>
    <div class="article">
      <div class="image">
        <img src="{{ article.image }}">
      </div>

      <h1><a href="{{ article.url }}" target="_blank"> {{ article.title }}</a></h1>

      <div>
        {{{ article.body }}}
      </div>

      <div>
        {{ article.supplier }}
      </div>
    </div>
  </body>
</html>
